.bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  &__delete-all {
    margin-left: 2rem;
    width: 7rem;
    height: 3rem;
    background-color: #ff0000be;
    border: 3px solid white;
    color: white;
    cursor: pointer;
  }
  &__delete-all:hover {
    opacity: 1;
    border: 3px solid #a30909;
  }
}
